body {
	height: 100%;
	overflow: hidden;
	background-image: linear-gradient(180deg, #1C1C1C, #0B0B0B);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.icon-shadow {
	text-shadow: 0 0 6px #606060;
}

.logo {
	position: fixed;
	transform: translate(50%);
	top: -0.5rem;
	right: 50%;
	font-size: 36px;
	text-align: center;
	font-family: monospace;
	color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(180deg, #858585, #2A2A2A);
	text-shadow: 0 0 12px #0C0C0C;
}

.page-title {
	position: fixed;
	transform: translate(50%);
	top: -0.5rem;
	right: 50%;
	font-size: 16px;
	text-align: center;
	font-family: monospace;
	color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(180deg, #CCCCCC, #555555);
	text-shadow: 0 0 12px #0C0C0C;
}

.license {
	font-family: monospace;
	font-size: 11px;
	color: #202020;
	text-shadow: 0 0 4px #000000;
	position: fixed;
	bottom: 0.5vh;
	right: 50%;
	transform: translate(50%);
}

.url-input-container {
	position: fixed;
	bottom: 5vh;
	right: 50%;
	transform: scale(1) translate(50%, 0);
	transition: 0.2s;
	width: auto;
	height: auto;
	display: inline-block;
	padding: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #505050;
	border-radius: 6px;
	background-color: #202020;
	box-shadow: 0 0 24px #000000;
	z-index: 12;
	transition: 0.35s;
}
.url-input-container:hover {
	border-color: #757575;
	transform: scale(1.15) translate(43.477%, -25%);
}
.url-input {
	height: 24px;
	width: 40vw;
	padding-left: 6px;
	padding-right: 6px;
	font-family: monospace;
	background-color: #161616;
	color: #BBBBBB;
	outline: none;
	border-style: hidden;
	border-radius: 4px;
}
.url-go {
	height: 24px;
	width: 24px;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 2px;
	font-family: monospace;
	background-color: #202020;
	color: #8A8A8A;
	outline: none;
	border-style: hidden;
	border-radius: 4px;
	transition: 0.1s;
}
.url-go:hover {
	background-color: #353535;
	color: #BBBBBB;
	border-style: solid;
	border-weight: 1px;
	border-color: #5B5B5B;
}
.url-go:active {
	background-color: #454545;
	color: #CFCFCF;
	transform: scale(0.8);
}

.page {
	position: fixed;
	width: 85%;
	height: 80%;
	transform: translate(50%, 45%);
	bottom: 50%;
	right: 50%;
	border-style: solid;
	border-width: 1px;
	border-color: #505050;
	border-radius: 6px;
	background-color: #101010;
}
