h1 {
	position: fixed;
	transform: translate(50%, -80%);
	top: 50%;
	right: 50%;
	font-size: 36px;
	text-align: center;
	font-family: monospace;
	color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(180deg, #858585, #2A2A2A);
	text-shadow: 0 0 12px #0C0C0C;
}
p {
  position: fixed;
  transform: translate(50%, 80%);
  top: 50%;
  right: 50%;
  font-size: 12px;
  text-align: center;
  font-family: monospace;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, #CCCCCC, #ABABAB);
  text-shadow: 0 0 12px #0C0C0C;
}
